.main-stage{
    background-image: url("../../asset/img/pexels-lumn-399161.jpg");
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-size: cover;
    background-position: center;
}

.input-stage{
    padding: 0% 5% 0% 5%;
}